#myHeader {
    background-color:gold;
    color: brown;
}
h1{
    color: magenta;
    /* magrin-left = bestimmt den linken Außenabstand */
    margin-left: 25px;
}
h2{
    color: ghostwhite;

}
h3{
    color: blueviolet;
    margin-left: 5px;
}

p{
    color: aqua;

}
.p2 {
    /*font-family: bestimmt die Schriftart; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:green;
}

.test1{
    color: grey;
}

body{
    background-color: black;
    margin: 0;
}

div.a{
    /*width ist die Weite der Box*/
    width: 100px;
    /*Eine Grenze, die um die Polsterung und Inhalt geht*/
    border: 2px solid green;
    /*padding = bestimmt alle Innenabstände eines Elements*/
    padding: 50px;
    /*Löscht einen Bereich außerhalb der Grenze. Der Rand ist transparent*/
    margin: 20px;
}

p.one{
    /*Rahmen style*/
    border-style:solid;
    /*dicke des Randes*/
    border-width: 1px 10px 20px 5px;
    /*Rahmenfarbe*/
    border-color: sandybrown green red violet;
}

p.two{
    border-style: solid;
    border-width: medium;
    border-color: crimson;
    margin-left: 300pt;
    margin-right: 300pt;
}

p.three{
    border-style: dotted;
    border-width: 10px;
    border-color: darkkhaki;
    margin: 25px 50px 75px;
}

p.four{
    border-style: dotted;
    border-width: 10px;
    border-color: chartreuse;
    margin: 25px;
}
p.five{
    border: 5px solid red;
    /*Abrandung der Ecken*/
    border-radius: 5px;
}

.test{
    color: chartreuse;
}

/*Farbe der Tabelle*/
table, th, td{
    border: 1px solid greenyellow

}

/*Tabellen breite*/
table{
    width: 50%;
}

/*Höhe der oberen Reihe*/
th{
    height: 70px;
}


td{
    /*text-align = bestimmt die horizontale Ausrichtung von Text und inline-Elementen innerhalb von Blockelementen*/
    text-align: center;
}

